/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------
                custom styles :)
-------------------------------------------------*/

/* -------general styling------- */
html{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #33739D;
}

section{
    margin-top: 5rem;
}


button a{
    font-family: 'Roboto', sans-serif;
}

/* ----------------styling the nav-------------- */
nav{
    background-color: #33739D;
    display: flex;
    justify-content: space-between;
    padding: .5rem 3rem;
    align-items: center;
    width: 100%;
}

.socials{
    display: flex;
}

.socials li{
    padding: .2rem;
}

.socials li a{
    color: #8DCECF;
}

nav li,
a{
    text-decoration: none;
}

.nav-links li{
    display: inline-block;
    padding: 1rem;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    color: #E9F8FE;
}

.nav-links li a:hover{
    color: #E27691;
}

.nav-links li a:active{
    color: #E27691;
}

.cart{
    color: #8DCECF;
}

/* -----animation for the cart icon------ */

.cart:hover{
    animation-name: push;
    animation-duration: .7s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes push{
    /* 0%,
    100%{
        transform-origin: 0 -100px;
    } */

    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-30px);
        opacity: 50%;
    }
}

/* ------------styling the banner------------ */

.banner{
    max-width: 100%;
    background-image: url(../images/pexels-sharon-mccutcheon-3713892.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.banner-content{
    display: flex;
    flex-grow: .5;
    flex-direction: column;
    justify-content: center;
}

.banner-content img{
    display: block;
    margin: auto;
    width: 60%;
    margin-bottom: 2rem;
}

h1{
    font-size: 2rem;
    color: white;
    text-align: center;
}

.banner .button{
    background-color:#E9F8FE;
    border: none;
    border-radius: 30px;
    color: #33739D;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-align: center;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 1rem auto;
}

.banner a{
    color: #33739D;
}

/* -------------styline the Today's Mood section---------- */


.scoops{
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: 1rem;
}

.scoops img{
    margin: auto;
    width: 25%;
    padding: .75rem .75rem 0 .75rem;
    transition: transform .5s;
}

.scoops img:active{
    transform: rotateY(180deg);
}

.calm:hover::before{
    content: "Cookies & Cream";
    font-size: 2rem;
    color: black;
}

h2{
    font-size: 1.5rem;
    color: #33739D;
    text-align: center;
}

/* ---------styling Ice Cream Bars section------------ */

.icecreambars{
    background-image: url(../images/pexels-polina-tankilevitch-8217396.jpg);
    background-size: cover;
    background-position: center center;
    width: 80%;
    height: 200px;
    margin: 5rem auto;
}

.button:hover{
    background-color: #E27691;
    color: #E9F8FE;
    transition: all .5s ease 0s;
}

.button{
    background-color:#E9F8FE;
    border: none;
    border-radius: 30px;
    color: #33739D;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-align: center;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 1rem auto;
    width: 200px;
}

.bars{
    padding: 4rem;
}

.icecreambars h2{
    color: white;
}

.icecreambars h2:nth-child(1){
    text-transform: uppercase;
    margin-left: -8rem;
}

.icecreambars a{
    color:#33739D;
}

/* ------styling the Flavour of the Week section---------- */

.fotw h2{
    margin-bottom: 1rem;
}

.fotw h3{
    margin: 1.5rem auto;
    color: #33739D;
    text-align: center;
}

.flavour{
    margin: 0 auto;
    display: flex;
    max-width: 60%;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.flavour img{
    max-width: 50%;
    object-fit: cover;
}

.fotwinfo{
    padding: 1rem;
}

.fotwinfo p{
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
}

/* adds media query to change layout of Flavour of the Week section for smaller screens */

@media screen and (max-width: 760px) {
    .flavour{
        display: flex;
        flex-direction: column;
    }

    .flavour img{
        max-width: 100%;
    }
}

/* -------styling the Vision section-------------- */

.vision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 4rem;
    width: 50%;
}

.vision img{
    width: 3rem;
    margin: auto;
}

.vision h2{
    margin: 1rem 0;
}

.vision p{
    text-align: center;
}

/* --------styling the Footer------------ */


.footer-content{
    background-color: #33739D;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 1rem 2rem 2rem 2rem;
}

.footer-content p{
    color: white;
    font-size: .7rem;
    font-weight: normal;
}

.footer-list{
    display: flex;
}

.footer-list li a{
    padding: .2rem;
    color: #8DCECF;
}

.footer-copy img{
    width: 2rem;
    margin: 0 auto .25rem;
}

.footer-copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contact .mail{
    margin: 0 auto;
    color: #8DCECF;
}

a .im-angle-right{
    color: #8DCECF;
    font-size: 1rem;
}

/* -----------styling the Menu page--------------- */


.menu h2{
    margin: 2rem auto;
}

.menu h3{
    color: white;
    background-image: url(/images/pexels-polina-tankilevitch-8217396.jpg);
    background-size: cover;
    background-position: center center;
    width: 80%;
    height: 150px;
    margin: 2rem auto;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 4rem;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 5rem 5rem;
}

.cards h4{
    color: #33739D;
    padding: 1rem;
}

.cards img{
    width: 100%;
}
.card{
    background-color: white;
    max-width: 250px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: .5rem;
    margin: 1rem auto;
    text-align: center;
}

/* adds media query to grid to support smaller screens */

@media screen and (max-width: 740px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 430px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }
}

/* ----------------styling the Contact Us page------------------- */

.map{
    background-color: #E9F8FE;
    display: flex;
    padding: 1rem;
    max-width: 700px;
    margin: 1rem auto;
}



.contact{
    background-color: white;
    padding: 1rem;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 50%;
    text-align: center;
}

.contactcontainer img{
    max-width: 40%;
    display: block;
    margin: auto;
}

.contactcontainer h2{
    margin: 3rem;
}

.contactsocials{
    width: 90px;
    margin: auto;
}

table{
    text-align: left;
    margin: 1rem 0 0 1rem;
}

td{
    font-size: .8rem;
    padding: 1rem 1rem 1rem 0;
}

caption{
    display: none;
}

.contact i{
    color: #8DCECF;
}

.contact h3{
    color: #33739D;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.frame{
    margin: 0 0 0 1rem;
}

/* adds media query to map section to support smaller screens */
@media screen and (max-width: 740px) {
    .map{
        display: flex;
        flex-direction: column;
    }

    .contact{
        margin: 0 auto 1rem;
        min-width: 100%;
        text-align: center;
    }

    .frame{
        margin: auto;
        display: flex;
        justify-content: center;
    }
    table{
        margin: 1rem auto;
    }

}

.contactbox h3{
    color: #33739D;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 3rem;
}

.contactbox{
    background-color: #E9F8FE;
    width: 80%;
    margin: 3rem auto 10rem;
    padding: 5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.inputs{
    display: flex;
    flex-direction: column;
    color: #E27691;
    padding-bottom: 3rem;
}

label{
    padding-bottom: 1rem;
}

.contactbox button{
    width: 150px;
    border: none;
    background-color: #1E2C44;
    border-radius: 30px;
    color: white;
    padding: 0.5rem 1rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

.contactbox i{
    color: #8DCECF;
    font-size: 1.5rem;
}